.tubelight {
  position: relative;
  color: white;
  font-size: larger;
  font-weight: 600;
  
  width: 220px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  background: linear-gradient(90deg, #e96c32, transparent, #e96c32);
  background-size: 200% 100%;
  animation: glow 2s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-neon {
  color: #fff;
  text-shadow: 0 0 10px #e96c32,0 0 20px #e96c32,0 0 40px #e96c32,0 0 80px #e96c32,0 0 160px #e96c32;
  font-size: 6rem;
}